---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { useStrapi } from "../../api/strapi";

export const getStaticPaths = (async () => {
  const { getSectionsUrl } = useStrapi();
  const sectionsUrl = await getSectionsUrl();
  return sectionsUrl.map((url) => ({
    params: { section: url },
  }));
}) satisfies GetStaticPaths;

const { section } = Astro.params;

const [{ attributes }] = await useStrapi().getSectionDetails(section);
const { title, description } = attributes;
---

<Layout title={title}>
  <div class="p-24">
    <h2 class="">{title}</h2>
  </div>
</Layout>
