---
import { useStrapi } from "../api/strapi";
import SectionNavbar from "../components/section/section-navbar.astro";
import IndexLayout from "../layouts/index-layout.astro";
import { marked } from "marked";
import { getImageUrlFromFormat } from "../lib/strapi-utils";

const { getAbout } = useStrapi();
const about = await getAbout();
const bioMarkdown = marked.parse(about.data.attributes.bio);
const photoMediumUrl = getImageUrlFromFormat(
  about.data.attributes.photo.data.attributes.image.data.attributes,
  "medium"
);
---

<IndexLayout
  title="About me"
  description="About me"
  seo_title="About Margaux FROWEIN"
  seo_description="Description of Margaux FROWEIN work as a Photographer"
  thumbnail="/images/og-image.jpg"
>
  <SectionNavbar slot="navbar" />
  <section
    class="p-8 md:p-20 mx-auto lg:max-w-[80%] grid grid-cols-1 md:grid-cols-2 gap-8 text-xl"
  >
    <div class="p-8 flex flex-col gap-8 h-full text-center">
      <img
        class="w-full object-cover rounded-md shadow-md"
        src={photoMediumUrl}
        alt=""
      />
      <h2 class="text-2xl gr-underline">Margaux FROWEIN Photographer</h2>
      <span class="text-base">{about.data.attributes.address}</span>
      <span class="text-base">{about.data.attributes.mail}</span>
    </div>
    <div class="flex flex-col justify-center items-center gap-8">
      <h2 class="text-2xl">Biographie</h2>
      <article class="bio" set:html={bioMarkdown} />
    </div>
  </section>
</IndexLayout>

<style>
  .bio > h1 {
    @apply text-2xl;
  }

  .bio > p {
    @apply text-base mb-2;
  }
</style>
