---
import StrapiImage from "../lib/strapi/strapi-image.astro";
interface Props {
  photos: any[];
}
const { photos } = Astro.props;
---

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  new Swiper(".home-swiper", {
    spaceBetween: 30,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    effect: "fade",
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<div class="swiper home-swiper h-full">
  <div class="swiper-wrapper">
    {
      photos.map(({ attributes }) => (
        <div class="swiper-slide">
          <StrapiImage
            image={attributes.image.data.attributes}
            description={attributes.description}
            format="xlarge"
            classNames="h-screen object-cover w-full"
          />
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
</div>
