---
import {
  getDataAttributes,
  getImageUrlFromFormat,
} from "../../lib/strapi-utils";

interface Props {
  section: any;
}
const { section } = Astro.props;
const imageData = getDataAttributes<any>(section.cover);
const imageUrl = getImageUrlFromFormat(
  getDataAttributes(imageData.image),
  "medium"
);
---

<article
  class="group overflow-hidden relative aspect-square hover:rounded-xl transition-all duration-500"
>
  <div
    class="bg-cover bg-center w-full h-full absolute top-0 left-0 group-hover:opacity-60 group-hover:scale-110 transition-all duration-500"
    style=`background-image: url('${imageUrl}')`
  >
  </div>
  <a
    href={`sections/${section.url}`}
    class="w-full h-full absolute top-0 left-0 opacity-0 group-hover:opacity-100 group-hover:shadow text-4xl flex justify-center items-center text-center transition-opacity duration-500 ease-in-out cursor-pointer"
  >
    {section.title}
  </a>
</article>
