---
import HomeSectionItem from "./home-section-item.astro";
interface Props {
  sections: any[];
}
const { sections } = Astro.props;
---

<div
  class="grid p-8 grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  {sections.map(({ attributes }) => <HomeSectionItem section={attributes} />)}
</div>
