<nav class="fixed w-full z-20 top-0 p-4 bg-slate-100 dark:bg-slate-900">
  <ul class="flex justify-between items-center text-left">
    <li>
      <a href="/">
        <h1 class="text-4xl font-writen">Margaux Frowein</h1>
      </a>
    </li>
    <li></li>
  </ul>
</nav>
