---
import { getImageUrlFromFormat } from "../../lib/strapi-utils";
interface Props {
  photos: any[];
}
const { photos } = Astro.props;
---

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  new Swiper(".home-swiper", {
    spaceBetween: 30,
    effect: "fade",
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>

<div class="swiper home-swiper">
  <div class="swiper-wrapper">
    {
      photos.map(({ attributes }) => (
        <div class="swiper-slide">
          <img
            class="h-screen object-cover w-full"
            src={getImageUrlFromFormat(
              attributes.image.data.attributes,
              "original"
            )}
            alt={attributes.description}
          />
        </div>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
</div>
