<nav
  class="fixed w-full z-20 top-0 bg-slate-100 dark:bg-slate-900 py-4 px-10 md:px-20"
>
  <ul class="flex justify-center items-center text-left px-4 md:px-8">
    <li class="mr-auto">
      <a href="/">
        <h1 class="text-4xl font-writen">Margaux Frowein</h1>
      </a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
</nav>
