---
import {
  getDataAttributes,
  getImageUrlFromFormat,
} from "../../lib/strapi-utils";
import StrapiImage from "../lib/strapi/strapi-image.astro";
interface Props {
  title: string;
  cover: any;
}

const { title, cover } = Astro.props;
---

<header
  class="section-header h-screen min-h-screen p-10 flex flex-row justify-center items-center md:gap-10"
>
  <div class="section-header__title w-1/3">
    <h2 class="text-4xl text-slate-700">{title}</h2>
  </div>
  <div class="section-header__cover h-full w-full flex px-0 py-20 md:p-10">
    <StrapiImage
      image={getDataAttributes(cover.image)}
      format="original"
      classNames="aspect-video object-cover rounded-xl shadow-2xl perspective"
      loading={"lazy"}
    />
  </div>
</header>

<style>
  .section-header {
    perspective: 10px;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .section-header__cover {
    transform: translateZ(3px) scale(0.5);
  }
</style>
