---
import {
  getImageUrlFromFormat,
  getDataAttributes,
} from "../../lib/strapi-utils";

interface Props {
  photo: any;
}

const { photo } = Astro.props;
const imageUrl = getImageUrlFromFormat(
  getDataAttributes(photo.attributes.image),
  "medium"
);
---

<div
  class="section-item w-full h-full group relative cursor-pointer shadow-xl md:rounded-md hover:md:rounded-xl overflow-hidden duration-500 transition-all"
  class:list={{
    "row-[span_2/auto]":
      photo.attributes.ratio === "tall" || photo.attributes.ratio === "big",
    "col-[span_2/auto]":
      photo.attributes.ratio === "wide" || photo.attributes.ratio === "big",
  }}
>
  <img
    class="object-cover w-full h-full group-hover:scale-110 transition-all duration-500"
    src={imageUrl}
    alt={photo.attributes.description}
  />
  <div
    class="absolute w-full h-auto bottom-0 left-0 flex justify-center items-center transition-all durantion-500 scale-0 group-hover:scale-100 bg-slate-700/40 text-slate-100"
  >
    <span>{photo.attributes.title}</span>
  </div>
</div>
