---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-slate-100">
    <header class="fixed w-full z-10">
      <nav class="text-center p-4">
        <a href="/"><h1 class="text-slate-50 text-4xl">Margaux FROWEIN</h1></a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
